@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* padding: 10px; */
  height: 90vh;
  width: auto;
  background: url("https://img.goodfon.ru/wallpaper/nbig/f/b7/abstraktsiia-smes-tsvetov-perelivy-abstraction-a-mixture-of.webp");
  background-position: center;
  background-size: cover;
  
  display: grid;
grid-template-columns: 25% 1fr 25%;
grid-template-rows: 20% 10% 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.nav-sidebar {
  display: flex;
  justify-content: flex-end;
  grid-area: 1 / 2 / 2 / 3;
  align-content: flex-start;
  flex-wrap: wrap;
}

.nav {
  display: inline-flex;
  position: relative;
  max-width: 100%;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(5px);
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  color: white;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  position: relative;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dfe2ea;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #71eeff8e;
}

#header {
  font-weight: 600;
background-image: linear-gradient(to bottom left, #ffffff, #00e1ff);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
background-size: 200% 100%;
animation: gradient-move 3s infinite;


}
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

.user-info {
  grid-area: 1 / 3 / 2 / 4;
  border-radius: 15px;
  height: 150px;
  padding: 15px;
  margin-left: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}

.user-info a {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

.main-table {
  border-radius: 15px;
  margin: 0;
  grid-area: 3 / 1 / 4 / 4;
  height: 820px;
  /* ограничиваем высоту до 500px */
  overflow-y: auto;
  /* добавляем вертикальную прокрутку */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 0;
  /* добавляем padding для таблицы */
  scrollbar-width: none;
  /* скрываем скролл бар */
}

table {
  width: 100%;
  border: none;

  overflow-y: auto;
  /* добавляем вертикальную прокрутку */
}

tr {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  display: flex;
  text-align: center;
  margin: 10px;
  border-radius: 30px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

tr:hover {
  background-color: #5a5a5ad4;
  
}


td {
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: hidden;
  word-wrap: break-word;
  display: inline-block;
  width: 16%;
  margin-right: 2%;
  border-right: 1px solid #000000;
  background-color: transparent;
  padding: 0;
}

td:last-child {
  border-right: none;
  color: #ffffff;
  border-radius: 15px;
}

tbody a {

  color: black;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

thead {
  position: sticky;
  top: 0;
  background-color: #000000;
  /* добавляем фон для шапки */
  z-index: 1;
  /* добавляем z-index, чтобы шапка была над таблицей */
}

th {
  border: none;
  font-family: sans-serif;
}

#head {
  background-color: #0000004d;
}


.filter-block {
  display: flex;
  grid-area: 2 / 1 / 3 / 4;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
#actives-table thead{
  background: black;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    display: flex;
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}


.filter-select {
  margin-right: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.filter-select:hover {
  background-color: #f5f5f5;
}

.search-block {
  margin: 5px;
  border-radius: 15px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  grid-area: 2 / 1 / 3 / 4;
}

#actives-table {
  display: none;
}


.info{
  color: white;
  font-family: sans-serif;
  grid-area: 1 / 1 / 1 / 2;
    border-radius: 15px;
    height: 150px;
    padding: 15px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);

}
.info h2 {
  margin-top: 0; /* убираем верхний отступ заголовка */
}

.info p {
  margin-bottom: 10px; /* отступ между строками */
}

#weather {
  display: flex; /* делаем блок с погодой flex-элементом */
  align-items: center; /* центрируем содержимое по вертикали */
}

#weather-icon {
  width: 30px; /* ширина иконки погоды */
  height: 30px;
  margin-right: 10px; /* отступ между иконкой и текстом */
}

#weather-text {
  font-size: 16px; /* размер текста погоды */
}
.graph{
  display: none; 
  flex-wrap: wrap; 
  justify-content: space-between;
}
#new-chart{
 
  background: rgba(0, 0, 0, 0.52);
  border-radius: 15px;
}
#in-work-chart{
 
  background: rgba(0, 0, 0, 0.52);
  border-radius: 15px;
}
#paused-chart{

  background: rgba(0, 0, 0, 0.52);
  border-radius: 15px;
}
#completed-chart{
  
  background: rgba(0, 0, 0, 0.52);
  border-radius: 15px;
}
.new-status {
  background-color: #919191; /* желтый */
}

.in-work-status {
  background-color: #39e7bc; /* зеленый */
}

.paused-status {
  background-color: #ff9900; /* оранжевый */
}

.completed-status {
  background-color: #00ff0d; /* синий */
}
.notes{
  display: none;
  margin: 10px;
}
#notes-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 10px;
}
#create-note-btn{
  margin-bottom: 10px
}
.note {
  color: white;
    background-color: rgb(0 0 0 / 47%);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
#modal-create-note {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  display: none;
  z-index: 1000; /* добавляем высокий z-index */
}